/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e3e3e3;
    /* Light grey background */
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Section Titles */
#current-weather h2,
#forecast h2,
#quick-links h3,
#search-history h3 {
    text-align: left;
    /* Align text to the left */
    margin-left: 1rem;
    /* Add some left margin for better spacing */
}

/* Header Styles */
header {
    background-color: #007bff;
    /* Blue background for the header */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Search Section */
#search-button,
#city-input {
    padding: 8px 12px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#search-button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}


#search-button:hover {
    background-color: #0056b3;
    /* Darker shade for hover effect */
}

#theme-toggle,
#unit-toggle {
    border-radius: 50px;
}

/* Current Weather */
.forecast-item {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 18%;
    /* Adjust as needed */
    display: inline-block;
}

/* Current Weather */
#current-weather {
    display: flex;
    /* Use flexbox to layout items in a row */
    align-items: center;
    /* Align items vertically in the center */
    justify-content: space-around;
    /* Space out items evenly */
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#current-weather img {
    width: 50px;
    /* Adjust size as necessary */
    margin-right: 10px;
    /* Add some space between the icon and text */
}

#current-weather div {
    display: flex;
    flex-direction: column;
    /* Stack the text vertically */
    align-items: flex-start;
    /* Align text to the start */
}


/* Forecast Section */
#forecast {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.forecast-item img {
    width: 50px;
    /* Size of weather icon */
}


/* Top Cities Links Container */
#quick-links {
    margin: 1rem;
}

/* Links Styles */
#quick-links .links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
}

#quick-links .links-container a {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
    font-size: 0.8rem;
}

#quick-links .links-container a:hover {
    background-color: #0056b3;

}

/* Search History Button Styles */
.history-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    display: inline-block;
    width: auto;
    margin: 2px;
    transition: background-color 0.3s;
}

.history-btn:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #007bff;

    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

#loading-indicator {
    display: none;
    /* Hidden by default */
    text-align: center;
    color: #333;
    /* Or any color that stands out */
    font-size: 1.2em;
    padding: 10px;
}



/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode .forecast-item {
    background-color: #1e1e1e;
}

body.dark-mode #current-weather,
body.dark-mode .forecast-item {
    background-color: #333;
    /* Darker background for current weather and forecast items */
    color: #fff;
    /* Light text color for current weather and forecast items */
}

body.dark-mode #current-weather img,
body.dark-mode .forecast-item img {
    filter: brightness(0) invert(1);
    /* Invert colors of images/icons for better visibility */
}


@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    #search-section,
    .weather-info,
    #quick-links {
        flex-direction: column;
    }

    #search-button,
    #city-input {
        width: 100%;
        margin-top: 5px;
    }
}

@media (max-width: 430px) {
    body {
        font-size: 14px;
        /* Adjust font size */
    }

    #current-weather,
    #forecast,
    #quick-links .links-container,
    .forecast-item {
        flex-direction: column;
        /* Stack elements vertically */
    }

    .forecast-item,
    #current-weather div {
        width: 100%;
        /* Full width for better readability */
        margin-bottom: 10px;
        /* Add some space between items */
    }

    #quick-links .links-container a,
    .history-btn {
        padding: 8px;
        /* Larger padding for easier touch */
        font-size: 0.9rem;
        /* Adjust font size */
    }

    header,
    footer {
        padding: 0.5rem;
        /* Reduce padding in header and footer */
    }

    #current-weather img,
    .forecast-item img {
        width: 40px;
        /* Adjust image size */
    }

    #search-button,
    #city-input {
        padding: 10px;
        /* Larger padding for touch targets */
        font-size: 0.9rem;
        /* Adjust font size */
    }

    #theme-toggle,
    #unit-toggle {
        padding: 8px;
        /* Larger padding for easier touch */
    }
}